<header class="main-header clearfix">
    <div class="l-left-side">
        <a href=".">
            <div class="site-title">
                <h1>Dr. Natalie Rodriguez</h1>
                <h2>Clinical Psychologist</h2>
            </div>
        </a>
    </div>
    <div class="l-right-side">
        <div class="site-nav">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#sessions">Sessions</a></li>
                <li><a href="#values">Values</a></li>
                <li><a href="#resources">Resources</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="section image-left-section intro clearfix">
    <div class="l-left-side">
        <div class="content-panel">
            <img src="/static/img/nat.jpg">
        </div>
    </div>
    <div class="l-right-side">
        <div class="content-panel">
            <h3>How I can help you.</h3>
            <p>We are all familiar with the stresses and strains of everyday life. We often cope as best we can but sometimes we realise that no matter how hard we try, we just can’t do it alone. Recent estimates are that 1 in 4 of us will suffer with our mental well-being at some point in our lives. </p>
            <p>Whether you are feeling dissatisfied with your life, going through a rough patch, have been diagnosed with a mental health problem, or just seem to keep getting trapped in the same unhelpful patterns over and over, my aim is to help you to understand what might be going on, reduce your distress, and live the life you want to lead. You may also be looking for some help for a partner, friend or relative that you are concerned about.</p>
            <p>If this speaks to you, then please have a look around this site and get in touch if you’d like to talk more about how I can help you.</p>
        </div>
    </div>
</div>

<div class="section image-right-section about clearfix" id="about">
    <div class="l-left-side">
        <div class="content-panel">
            <h3>About</h3>
            <p>I have several years of experience working therapeutically with adults, older adults, young people, and families struggling with a wide range of difficulties. I also provide clinical supervision, consultation, teaching and training, and hold active roles in service development and delivery.</p>
            <p>I completed my first degree at Loughborough University and my clinical psychology doctorate at University College London. I am currently completing a post graduate diploma in clinical neuropsychology through the University of Bristol.        <p>I hold chartered status with the British Psychological Society and I have accreditation with the British Association of Behavioural and Cognitive Psychotherapists. I am also registered with the Health Care Professions Council and have full criminal records bureau clearance.</p>
            <p>Click below to read about the kind of therapy I offer and types of problems I typically work with.</p>
            <a class="btn" href="/about">Read more</a>
        </div>
    </div>
    <div class="l-right-side">
        <div class="content-panel">
            <img src="/static/img/logos.jpg">
        </div>
    </div>
</div>
<div class="section image-left-section sessions clearfix" id="sessions">
    <div class="l-left-side">
        <div class="content-panel">
            <img src="/static/img/clock.png">
        </div>
    </div>
    <div class="l-right-side">
        <div class="content-panel">
            <h3>Sessions</h3>
            <p>Typically sessions are weekly and 50 minutes each. Sometimes I may recommend longer or more frequent sessions, depending on the type of problem, and your goals and needs. We will discuss this at your first consultation, as well as the possible length of treatment so that you are able to make an informed decision about further sessions. </p>
            <p>I currently offer sessions in Central London on Tuesday afternoons and evenings, and Saturday mornings.</p>
            <p>I accept clients who are either self-funding or who are covered by private health insurance. I am registered with AXA PPP, AVIVA, WPA, PruHealth, Cigna, and Simply Health.</p>
            <p>I currently charge £150 for an initial hour-long consultation. This fee includes a consultation summary report, if required. Ongoing individual sessions are charged at £120. Please contact me for further information about fees for clinical supervision, and other clinical services.</p>
            <p>Click below if you are looking for clinical supervision.</p>
            <a class="btn btn-inverse" href="/sessions">Read more</a>
        </div>
    </div>
</div>
<div class="section image-right-section values clearfix" id="values">
    <div class="l-left-side">
        <div class="content-panel">
            <h3>Values &amp; Ethics</h3>
            <p>I appreciate that it can be a difficult choice to seek help and that psychological therapy can sometimes seem like a daunting prospect. I work in an honest and transparent manner so that we can work together effectively to help you to ultimately feel and function better in life.</p>
            <p>I adhere to a code of ethics and conduct involving respect, competence, responsibility and integrity. Click below to find out more.</p>
            <a class="btn" href="/values">Read more</a>
        </div>
    </div>
    <div class="l-right-side">
        <div class="content-panel">
            <img src="/static/img/values.png">
        </div>
    </div>
</div>
<div class="section image-left-section resources clearfix" id="resources">
    <div class="l-left-side">
        <div class="content-panel">
            <img src="/static/img/resources.png">
        </div>
    </div>
    <div class="l-right-side">
        <div class="content-panel">
            <h3>Resources</h3>
            <p>Many of my clients and supervisees ask me about helpful resources they can make use of at home to compliment the work they are doing in therapy. </p>
            <p>Research evidence suggests that self-help often works best when it is guided and supported by a mental health professional. If you think you might like to try guided self-help rather than individual therapy sessions, then please contact me and we can discuss how to make this work face to face, over the telephone or on Skype.</p>
            <p>I have compiled a non-exhaustive list of resources that I have found particularly helpful personally and/or professionally or that have been recommended or endorsed by other respected clients or colleagues. I welcome any feedback about resources so that I can update them on a regular basis. Click below to take a look.</p>
            <a class="btn btn-inverse" href="/resources">Read more</a>
        </div>
    </div>
</div>
