<div class="section sub-page">
    <h3>About</h3>
    <h4>What kind of therapy do I offer?</h4>
    <p>Clinical psychologists are trained in a number of therapeutic approaches. We tailor therapy to the individual, as well as taking into account what works for whom, and applying theory and research to real-World problems.</p>
    <p>What this means is that when I see you for the first time, we will discuss the type of therapy that might be of most help to you based on an understanding of your needs and goals with what I clinically think could be of most help.</p>
    <p>I usually offer Cognitive-Behavioural Therapy (CBT) as a primary therapy option as this has been found to successfully help many people with a wide range of mental health difficulties. It is an interactive, and skill focused therapy.</p>
    <p>You can find out more about CBT <a href="http://www.babcp.com/Public/What-is-CBT.aspx">here</a>.</p>
    <p>However, CBT does not work for all, and you may have found that CBT has not worked for you in the past, or is not the approach you would like to take. Therefore, we will discuss the options at your first consultation session.</p>
    <h4>What types of problems do I work with?</h4>
    <p>I work with a wide range of mental health difficulties that you may be experiencing for the first time, or that may be familiar and recurrent. Below are some of the problems that I typically work with across all ages; from childhood through to older adults.</p>
    <ul>
        <li>Anxiety disorders</li>
        <ul>
            <li>Obsessive Compulsive Disorder</li>
            <li>Health anxiety</li>
            <li>Social anxiety</li>
            <li>Worry and generalised anxiety</li>
            <li>Phobias and agoraphobia</li>
            <li>Anxiety related to traumatic experiences</li>
        </ul>
        <li>Depression</li>
        <li>Perfectionism</li>
        <li>Low self-esteem and confidence</li>
        <li>Anger</li>
        <li>Bipolar Affective Disorder</li>
        <li>Relationship and/ or family difficulties</li>
        <li>Bereavement and loss</li>
        <li>Adjustment to unexpected life events or physical illness</li>
        <li>Stress</li>
        <li>Challenging behaviours</li>
        <li>Parenting concerns</li>
    </ul>
    <p>However, it is not unusual to be unclear about what the problem is exactly. You may just be aware of feeling something difficult or stuck. You may even feel quite disconnected or numb. You may have reached a point in your life where you are feeling confused about your direction in life or in a relationship. You may also be looking to access help for or with a family member or loved one. Whatever it may be, in your initial consultation, we can think about this together and what could be of most help to you.</p>
    <a class="btn" href="/">Back to main site</a>
</div>
