<div class="section sub-page">
    <h3>Resources</h3>
    <p>If you would like to discuss which resources may be of most help to you, or you would like to consider guided self-help, please contact me. We can discuss which resources may compliment your therapy at your initial consultation or during treatment.</p>
    <h4>Smart phone apps</h4>
    <ul>
        <li><a href="http://www.getsomeheadspace.com">Headspace</a></li>
        <li><a href="https://itunes.apple.com/gb/app/beat-panic/id452656397?mt=8">Beat Panic</a></li>
    </ul>
    <h4>Websites</h4>
    <ul>
        <li><a href="http://www.anxietyuk.org.uk/">Anxiety UK</a></li>
        <li><a href="http://www.ocduk.org/"> OCD UK</a></li>
        <li><a href="http://www.depressionalliance.org/">Depression Alliance</a></li>
        <li><a href="http://www.llttfi.com/">Live Life to the full</a></li>
        <li><a href="https://moodgym.anu.edu.au/welcome">Mood Gym</a></li>
        <li><a href="http://www.bps.org.uk/">British Psychological Society</a></li>
        <li><a href="http://www.mind.org.uk/">MIND</a></li>
        <li><a href="http://www.samaritans.org/">Samaritans</a></li>
        <li><a href="http://www.rethink.org/">Rethink</a></li>
        <li><a href="http://www.youngminds.org.uk/">Young Minds</a></li>
        <li><a href="http://www.ageuk.org.uk/">Age UK</a></li>
    </ul>
    <h4>Self-help books</h4>
    <ul>
        <li>Overcoming Low Self-Esteem by Melanie Fennell</li>
        <li>Overcoming Obsessive Compulsive Disorder by David Veale</li>
        <li>Overcoming Body Dysmorphic Disorder by David Veale</li>
        <li>Overcoming Perfectionism by Sarah Egan &amp; Roz Shafran</li>
        <li>Overcoming Depression by Paul Gilbert</li>
        <li>Overcoming Anxiety by Helen Kennerley</li>
        <li>Overcoming Depression One Step at a Time by Christopher Martell &amp; Michael Addis</li>
        <li>Overcoming Your Child’s Fears and Worries by Cathy Creswell &amp; Lucy Willetts</li>
        <li>The Incredible Years: Trouble shooting guide for parents of children aged 3-8 by Carolyn Webster-Stratton &amp; David Mostyn</li>
        <li>Wherever you go there you are by Jon Kabat-Zin</li>
        <li>Finding Peace in a Frantic World by Mark Williams and Danny Penman</li>
        <li>Reinvent your life by Jeff Young</li>
        <li>The Compassionate Mind by Paul Gilbert</li>
    </ul>
    <p>Many self-help books are now available on prescription from your GP. You can read more about the scheme by following the links below, or by contacting your GP surgery.</p>
    <p>
        <a href="http://readingagency.org.uk/news/media/reading-well-books-on-prescription-launches.html">Reading Well Books on Prescription launches</a> - readingagency.org.uk
        <br/>
        <a href="http://www.guardian.co.uk/society/2013/jan/31/gps-prescribe-self-help-books">GPs Prescribe Self Help books</a> - guardian.co.uk
    </p>
    <a class="btn" href="..">Back to main site</a>
</div>
