<div class="section sub-page">
    <h3>What clinical supervision do I offer?</h3>
    <p>I offer clinical supervision to psychology colleagues and have experience in supervising trainee and assistant psychologists working with adolescents and adults. I have received supervisor training through the North Thames Clinical Psychology courses.
    <p>My approach to supervision is collaborative and based on a joint supervision contract which we will devise upon meeting.</p>
    <p>Please contact me to discuss supervision requests.</p>
    <a class="btn" href="..">Back to main site</a>
</div>
