<div class="section sub-page">
    <h3>My values and ethics</h3>
    <p>I adhere to the following code of ethics and conduct.</p>
    <h4>Respect</h4>
    <p>I respect and value each client as an individual, including their knowledge and expertise. I am transparent about my thinking and decision making. I work only with clients who consent to treatment and within the boundaries and limits of privacy and confidentiality, which I will explain at the start of our work together.</p>
    <h4>Competence</h4>
    <p>I work within the limits of my abilities, knowledge, skills and expertise. I continuously update these through training, supervision, and professional development.</p>
    <h4>Responsibility</h4>
    <p>I work as a responsible clinician, including the prevention of any harm. You are free to opt out of treatment at any time. Likewise, I will discuss with you any concerns in relation to on-going therapy, when therapy may need to come to an end for any reason, or when it may no longer be of help. If I am unable to offer sessions for any reason, I aim to help you identify another helpful avenue of support.</p>
    <h4>Integrity</h4>
    <p>I work with honesty, accuracy and clarity and always with your best interests in mind.</p>
    <p>You can read the full code of ethics and conduct here: <a href="http://www.bps.org.uk/sites/default/files/documents/code_of_ethics_and_conduct.pdf">British Psychological Society Code of Ethics and Conduct</a></p>
    <p>And more here: <a href="http://www.hpc-uk.org/assets/documents/10003B6EStandardsofconduct,performanceandethics.pdf">Health Care Professions Council Standards of Conduct</a></p>
    <a class="btn" href="..">Back to main site</a>
</div>
